@page
@model Opinion_Forum_Site.Pages.Opinions.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <div class="text-center">
        <h1 class="page-title">Recent Posts</h1>
    </div>
    <p>
        <a class="create-link" asp-page="./Opinions/Create">Create Your Own</a>
    </p>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Opinion[0].Title)
                </th>
                <th>
                    Posted By
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = Model.Opinion.Count - 1; i >= 0; i--)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Opinion[i].Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Opinion[i].Username)
                    </td>
                    <td>
                        @if (Equals(@Model.Opinion[i].Username, User.Identity.Name))
                        {
                            <a asp-page="./Opinions/Edit" asp-route-id="@Model.Opinion[i].ID">Edit</a>
                            <a> | </a>
                            <a asp-page="./Opinions/Delete" asp-route-id="@Model.Opinion[i].ID">Delete</a>
                            <a> | </a>
                            <a asp-page="./Opinions/Details" asp-route-id="@Model.Opinion[i].ID">View</a>
                        }
                        else
                        {
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a asp-page="./Opinions/Details" asp-route-id="@Model.Opinion[i].ID">View</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>