@page
@model Opinion_Forum_Site.Pages.Opinions.DetailsModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4 class="page-title">Opinion</h4>
        <hr />
        <dl class="row opinion-info-sections">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Opinion.Username)
            </dt>
            <dd class="col-sm-10 opinion-info-name">
                @Html.DisplayFor(model => model.Opinion.Username)
            </dd>
             <dt class="col-sm-2">
                <a>Topic</a>
            </dt>
            <dd class="col-sm-10 opinion-info-title">
                @Html.DisplayFor(model => model.Opinion.Title)
            </dd>
            <dt class="col-sm-2">
                <a>Opinion</a>
            </dt>
            <dd class="col-sm-10 opinion-info-text">
                @Html.DisplayFor(model => model.Opinion.OpinionText)
            </dd>
        </dl>
    </div>
    <div>
        @if(Equals(Model.Opinion.Username, User.Identity.Name))
        {
            <a class="standard-link" asp-page="./Edit" asp-route-id="@Model.Opinion.ID">Edit</a>
            <a class="divider"> | </a>
        }
        <a class="standard-link" asp-page="./Index">Back To All Posts</a>
    </div>
</body>
</html>
